/* 
body {
    background-color: #cbcfd1;
}


section.main > div {
    background-color: #2c2f31;
}


.stApp {
    background-color: transparent;
}


.panel {
    background-color: #ffffff;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    color: #3628b6;
    margin-bottom: 10px;
}

.sidebar-title {
    font-size: 20px;
    color: #198754;
    font-weight: bold;
} */
